@import 'responsive.css';
@import 'admin.css';

a.active{
	font-weight: bold;
}
a:hover{
	text-decoration: none !important;
	color: #FF9700 !important;
}
footer{
	background: #0FB6AD;
	color: #fff;
	padding-top: 5em;
	padding-bottom: 10em;
}
label{
	font-weight: normal !important;
}
.btn-warning{
	background-color: #FF9700 !important;
}
.menu_home{
	padding-top: .5em;
}
.menu_top{
	background: #0B6F6D; padding: .5em;
}
.menu_down{
	padding: 1em;
	text-align: center;

}
.barra_icon{
	padding-top: 2em;
	background: #F9F9F9;
	color: #989898;
}
.barra_icon h3{
	font-weight: bold;
}
.contact{
	background: #fff;
	border: 1px solid #333;
	border-top: none;
	margin-bottom: 3em;
}
.barra_contact{
	background: #FF9700;
}

.barra_contact h3{
	color: #fff;
}

.imgtext {
	position: relative;
	margin: 0 auto;
}
.imgtext img {
	height: auto;
	width: 100%;
}

.imgtext article{
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topright: 10px;
	bottom: 20px;
	color: #fff;
	margin: 0;
	position: absolute;
	width: 100%;
	text-align: left;
}
.article img{
	width:80%;margin-bottom: .5em;
}

.textarealabel, .titulo, label{
	color: #989898;
	margin-top: 3em;
}

.titulo{
	font-weight: bold;
}

nav ul li a{
	background-color: transparent !important; 
}
.blanco{
	color: #fff;
}
.naranja{
	color: #FF9700;
}
.azul{
	color: #0A9191;
}
.gray{
	color: #999;
}
.barra_1{
	background-color: #A9AE5E;
}
.barra_2{
	background-color: #DCA027;
}
.barra_2 .navbar{
	margin-bottom: 0;
}
.barra_2 ul li a{
	color: #fff;
	font-size: 22px;
}

.cont_central h2{
	color: #fff;
	padding-bottom: 1em;
}
.cont_central h2, .cont_central h3, .cont_central h4{
	color: #fff;
}
.row{
	margin-right: 0px !important;
}
.grad {
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#83BE95, #BFC07E); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#83BE95, #BFC07E); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#83BE95, #BFC07E); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#83BE95, #BFC07E); /* Standard syntax */
}

.grad2{
	background-image: url(../img/Recursoswebcliente-27.png);
}

.grad3 {
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#8BCCB5, #D6CE97); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#8BCCB5, #D6CE97); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#8BCCB5, #D6CE97); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#8BCCB5, #D6CE97); /* Standard syntax */
}

.grad4{
	background-image: url(../img/Recursoswebcliente-28.png);
}
.grad5{
	background-image: url(../img/Recursoswebcliente-02.png);
}
.grad6{
	background-image: url(../img/Recursoswebcliente-19.png);
}
.grad7{
	background-image: url(../img/Recursoswebcliente-16.png);
}
.grad8{
	background-image: url(../img/Recursoswebcliente-36.png);
}
.grad9{
	background-image: url(../img/Recursoswebcliente-17.png);
}
.grad10{
	background-image: url(../img/Recursoswebcliente-22.png);
}

.grad2, .grad4, .grad5, .grad7, .grad8, .grad9, .grad10{
	background-repeat: no-repeat;
}

.barra_sup nav, .barra_sup img, .inline img, .inline h3, .inline h1{
	display: inline-block;
}
.barra_sup nav ul li{
	display: inline-block;
}
.barra_sup nav ul li a{
	color: #fff;
	font-size: 18px;
}

.cont_central .menu li{
	color: #fff;
	list-style: none;
	font-size: 20px;
	font-weight: bold;
}
.list_comida{
	padding-top: 2em;
}
.list_comida ul li{
	list-style: none;
	padding-bottom:1em;
	color: #fff;
}
.form h4, .form h5{
	padding-left: 1em;
	color: #fff;
	font-weight: bold;
	text-align: left;
}
.form textarea{
	min-height: 150px;
}
.form .select{
	background: #767676;
	opacity: .7;
	height: 30px;
}
.linea_nar{
	border:3px solid #FF9700;
	width: 100px;
}

.txt_16{
	font-size: 16px;
}
.txt_18{
	font-size: 18px;
}
/*padding - margin*/
.pad_3{
	padding:3em;
}
.pderecho_0{
	padding-right: 0px !important;
}
.mizquierdo0{
	margin-left: 0em !important;
}
.mb_1{
	margin-bottom: 1em;
}
.social img{
	padding-right: 1em;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="time"],
select,
textarea{
  color: #fff !important;
  font-size: 20px;
  background-color: transparent;
}
::-webkit-input-placeholder { /* Chrome */
  color: #fff !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff !important;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #fff !important;
  opacity: 1;
}

.caja-concierto_buscador .buscar {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.caja-concierto_buscador {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-top: 0.5em;
}

.caja-concierto_buscador .buscar input {
	border: none;
	outline: none;
	border-radius: none;
	width: 90%;
	padding: 0.5em 1em;
}

.img_buscador{
	background: #0C9A9B;
}
.border_black{
	border: 1px solid #818181 !important;
}
.cont{
	padding-right: 0px !important;
	padding-left: 0px !important;
}